{% extends "layout.html.twig" %}
{% trans_default_domain 'box' %}

{% block page_title %}
    {{ box.name }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h3>{{ box.name }}</h3>
            <p><a href="{{ path('box_all') }}">{{ 'link.allbox' | trans }}</a></p>
            {% if  (is_granted('ROLE_MO') == true) and (box.currentPlace != 'sent') %}
                <p><a href="{{ path('box_edit', {id:box.id}) }}">{{ 'box.edit' | trans }}</a></p>
            {% endif %}
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <th>{{ 'table.id' | trans }}</th>
                        <td>{{ box.id }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'table.name' | trans }}</th>
                        <td>{{ box.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'table.budget' | trans }}</th>
                        <td>{{ box.budget }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'table.products' | trans }}</th>
                        <td>{{ box.products }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'table.state' | trans }}</th>
                        <td>{{ box.currentPlace }}</td>
                    </tr>
                </tbody>
            </table>
            {% if (box.currentPlace == 'sent') %}
                <div class="row">
                    <div class="col-12 text-center lead">
                        {{ 'box.sent.notice' | trans }}
                    </div>
                </div>
            {% endif %}

            {% if is_granted('ROLE_PM') and (box.currentPlace == 'box_complete') %}
            <div class="row">
                <div class="col-12 col-sm-6">
                    <a href="{{ path('box_validate', {id:box.id}) }}">{{ 'box.validate' | trans }}</a>
                </div>
                <div class="col-12 col-sm-6">
                    <a href="{{ path('box_revision', {id:box.id}) }}">{{ 'box.revision' | trans }}</a>
                </div>
            </div>
            {% endif %}

            {% if is_granted('ROLE_MM') and (box.currentPlace == 'validate')  %}
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <a href="{{ path('box_production', {id:box.id}) }}">{{ 'box.production' | trans }}</a>
                    </div>
                    <div class="col-12 col-sm-6">
                        <a href="{{ path('box_delete', {id:box.id}) }}">{{ 'box.delete' | trans }}</a>
                    </div>
                </div>
            {% endif %}

            {% if is_granted('ROLE_DIRECTOR') and (box.currentPlace == 'production') %}
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <a href="{{ path('box_sending', {id:box.id}) }}">{{ 'box.sending' | trans }}</a>
                    </div>
                    <div class="col-12 col-sm-6">
                        <a href="{{ path('box_delete', {id:box.id}) }}">{{ 'box.delete' | trans }}</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}