{% extends 'layout.html.twig' %}
{% trans_default_domain 'box_new' %}

{% set active = 'workflow' %}

{% block page_title %}
    {{ 'Ajout d\'une nouvelle box' | trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'title.h1' | trans }}</h1>
    <p><a href="{{ path('box_all') }}">{{ 'link.boxall' | trans }}</a></p>
    {{ form(form) }}
{% endblock %}

