{% extends 'layout.html.twig' %}
{% trans_default_domain 'box_edit' %}

{% set active = 'workflow' %}

{% block page_title %}
    {{ box.name }}
{% endblock %}

{% block content %}
    <h3>{{ 'title.h3' | trans }} {{ box.name }}</h3>
    <p><a href="{{ path('box_all') }}">{{ 'link.listbox' | trans }}</a></p>

    {{ form(form) }}
{% endblock %}

