{% extends "layout.html.twig" %}
{% trans_default_domain 'boxes' %}

{% block page_title %}
    {{ 'boxes.title' | trans }}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-12">
            <h3>{{ 'Liste des box' | trans }}</h3>

            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                <tr>
                    {% if is_granted('ROLE_MO') or is_granted('ROLE_ADMIN') %}
                        <th scope="col"></th>
                    {% endif %}
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Produits</th>
                    <th scope="col">Etat</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for box in boxes %}
                    <tr>
                        {% if is_granted('ROLE_MO') or is_granted('ROLE_ADMIN') %}
                            <th>
                                <a class="text-danger"
                                   href="{{ path('box_delete', {id:box.id}) }}">X</a>
                            </th>
                        {% endif %}
                        <th scope="row">{{ box.id }}</th>
                        <th scope="row">{{ box.name }}</th>
                        <th scope="row">{{ box.budget }}</th>
                        <th scope="row">{{ box.products }}</th>
                        <th scope="row">{{ box.currentPlace }}</th>
                        {% if is_granted('ROLE_MO') or is_granted('ROLE_ADMIN') %}
                            <th class="text-center">
                                <div>
                                    <a href="{{ path('box_edit', {id:box.id}) }}">
                                        {{ 'Editer' | trans }}
                                    </a>
                                </div>
                                <div>
                                    <a href="{{ path('box_view', {id:box.id}) }}">
                                        {{ 'Voir' | trans }}
                                    </a>
                                </div>
                            </th>
                        {% else %}
                            <th>
                                <a href="{{ path('box_view', {id:box.id}) }}">
                                    {{ 'Voir' | trans }}
                                </a>
                            </th>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h3>{{ 'Liste des box expédiées' | trans }}</h3>
            {% if sentBoxes is not empty %}
                <table class="table table-hover table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Budget</th>
                        <th scope="col">Produits</th>
                        <th scope="col">Etat</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for box in sentBoxes %}
                        <tr>
                            <th scope="row">{{ box.id }}</th>
                            <th scope="row">{{ box.name }}</th>
                            <th scope="row">{{ box.budget }}</th>
                            <th scope="row">{{ box.products }}</th>
                            <th scope="row">{{ box.currentPlace }}</th>
                            <th scope="row" class="text-center">
                                <a href="{{ path('box_view', {id:box.id}) }}">
                                    {{ 'Voir' | trans }}
                                </a>
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}