{% extends "layout.html.twig" %}
{% trans_default_domain 'box_all' %}

{% block page_title %}
    {{ 'all.boxes.title' | trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h3>{{ 'all.boxes.title.h3' | trans }}</h3>

            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ 'table.name' | trans }}</th>
                    <th scope="col">{{ 'table.budget' | trans }}</th>
                    <th scope="col">{{ 'table.products' | trans }}</th>
                    <th scope="col">{{ 'table.state' | trans }}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for box in boxes %}
                    <tr>
                        <th scope="row">{{ box.id }}</th>
                        <th scope="row">{{ box.name }}</th>
                        <th scope="row">{{ box.budget }}</th>
                        <th scope="row">{{ box.products }}</th>
                        <th scope="row">{{ box.currentPlace }}</th>
                        <th class="text-center">
                            <a href="{{ path('box_view', {id:box.id}) }}">
                                {{ 'view.link' | trans }}
                            </a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}