{% trans_default_domain 'nav' %}
<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('index') }}">{{ 'accueil' | trans }}<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
					   aria-haspopup="true" aria-expanded="false">
						Box
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="{{ path('listboxes') }}">{{ 'all.boxes.view' | trans  }}</a>
						<a class="dropdown-item" href="{{ path('box_all') }}">{{ 'boxes.title' | trans  }}</a>
						{% if is_granted('ROLE_MO') %}
							<a class="dropdown-item" href="{{ path('box_add') }}">{{ 'box.new' | trans  }}</a>
						{% endif %}
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
					   aria-haspopup="true" aria-expanded="false">
						{{ 'account' | trans  }}
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="{{ path('index_login') }}">{{ 'login' | trans  }}</a>
						<a class="dropdown-item" href="{{ path('logout') }}">{{ 'logout' | trans  }}</a>
						<a class="dropdown-item" href="{{ path('register_user') }}">{{ 'account.new' | trans  }}</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('admin') }}">{{ 'admin' | trans  }}</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
